#root {
  font-family: "Assistant", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #b6bbc4;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
